In [1]:
#Loading xlsx package  
library("xlsx")  
  
# Reading the first worksheet in the file employee.xlsx.  
excel_data<- read.xlsx("employee.xlsx", sheetIndex = 1)  
print(excel_data)

  id     name salary start_date       dept..
1  1  Shubham 613.30 2012-01-01         IT
2  2   Arpita 525.20 2013-09-23 Operations
3  3 Vaishali  63.00 2014-11-15         IT
4  4   Nishka 749.00 2014-05-11         HR
5  5   Gunjan 863.25 2015-03-27    Finance
6  6    Sumit 588.00 2013-05-21         IT
7  7   Anisha 932.80 2013-07-30 Operations
8  8    Akash 712.50 2014-06-17     Financ

In [3]:
#Loading xlsx package  
library("xlsx")  
  
#Creating data frame  
emp.data<- data.frame(    
name = c("Raman","Rafia","Himanshu","jasmine","Yash"),    
salary = c(623.3,915.2,611.0,729.0,843.25),     
start_date = as.Date(c("2012-01-01", "2013-09-23", "2014-11-15", "2014-05-11","2015-03-27")),  
dept = c("Operations","IT","HR","IT","Finance"),    
stringsAsFactors = FALSE    
)    
  
# Writing the first data set in employee.xlsxRscript  
write.xlsx(emp.data, file = "employee.xlsx", col.names=TRUE, row.names=TRUE,sheetName="Sheet2",append = TRUE)  
      
# Reading the first worksheet in the file employee.xlsx.  
excel_data<- read.xlsx("employee.xlsx", sheetIndex = 1)  
print(excel_data)  
  
# Reading the first worksheet in the file employee.xlsx.  
excel_data<- read.xlsx("employee.xlsx", sheetIndex = 2)  
print(excel_data)

  id     name salary start_date       dept..
1  1  Shubham 613.30 2012-01-01         IT
2  2   Arpita 525.20 2013-09-23 Operations
3  3 Vaishali  63.00 2014-11-15         IT
4  4   Nishka 749.00 2014-05-11         HR
5  5   Gunjan 863.25 2015-03-27    Finance
6  6    Sumit 588.00 2013-05-21         IT
7  7   Anisha 932.80 2013-07-30 Operations
8  8    Akash 712.50 2014-06-17     Financ
  NA.     name salary start_date       dept
1   1    Raman 623.30 2012-01-01 Operations
2   2    Rafia 915.20 2013-09-23         IT
3   3 Himanshu 611.00 2014-11-15         HR
4   4  jasmine 729.00 2014-05-11         IT
5   5     Yash 843.25 2015-03-27    Finance