In [1]:
# List

In [2]:
list_1<-list(1,2,3)  
list_2<-list("Shubham","Arpita","Vaishali")  
list_3<-list(c(1,2,3))  
list_4<-list(TRUE,FALSE,TRUE)  
list_1  
list_2  
list_3  
list_4

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[1]]
[1] "Shubham"

[[2]]
[1] "Arpita"

[[3]]
[1] "Vaishali"

[[1]]
[1] 1 2 3

[[1]]
[1] TRUE

[[2]]
[1] FALSE

[[3]]
[1] TRUE

In [3]:
list_data<-list("Shubham","Arpita",c(1,2,3,4,5),TRUE,FALSE,22.5,12L)  
print(list_data)

[[1]]
[1] "Shubham"

[[2]]
[1] "Arpita"

[[3]]
[1] 1 2 3 4 5

[[4]]
[1] TRUE

[[5]]
[1] FALSE

[[6]]
[1] 22.5

[[7]]
[1] 12

In [4]:
# Creating a list containing a vector, a matrix and a list.  
list_data <- list(c("Shubham","Arpita","Nishka"), matrix(c(40,80,60,70,90,80), nrow = 2),  
   list("BCA","MCA","B.tech"))  
# Accessing the first element of the list.  
print(list_data[1])  
  
# Accessing the third element. The third element is also a list, so all its elements will be printed.  
print(list_data[3])

[[1]]
[1] "Shubham" "Arpita"  "Nishka"

[[1]]
[[1]][[1]]
[1] "BCA"

[[1]][[2]]
[1] "MCA"

[[1]][[3]]
[1] "B.tech"

In [5]:
# Creating a list containing a vector, a matrix and a list.  
list_data <- list(c("Shubham","Arpita","Nishka"), matrix(c(40,80,60,70,90,80), nrow = 2),list("BCA","MCA","B.tech"))  
# Giving names to the elements in the list.  
names(list_data) <- c("Student", "Marks", "Course")  
# Accessing the first element of the list.  
print(list_data["Student"])  
print(list_data$Marks)  
print(list_data)

$Student
[1] "Shubham" "Arpita"  "Nishka"

     [,1] [,2] [,3]
[1,]   40   60   90
[2,]   80   70   80
$Student
[1] "Shubham" "Arpita"  "Nishka"

$Marks
     [,1] [,2] [,3]
[1,]   40   60   90
[2,]   80   70   80

$Course
$Course[[1]]
[1] "BCA"

$Course[[2]]
[1] "MCA"

$Course[[3]]
[1] "B.tech"

In [6]:
# Creating a list containing a vector, a matrix and a list.  
list_data <- list(c("Shubham","Arpita","Nishka"), matrix(c(40,80,60,70,90,80), nrow = 2),  
   list("BCA","MCA","B.tech"))  
  
# Giving names to the elements in the list.  
names(list_data) <- c("Student", "Marks", "Course")  
  
# Adding element at the end of the list.  
list_data[4] <- "Moradabad"  
print(list_data[4])  
  
# Removing the last element.  
list_data[4] <- NULL  
  
# Printing the 4th Element.  
print(list_data[4])  
  
# Updating the 3rd Element.  
list_data[3] <- "Masters of computer applications"  
print(list_data[3])

[[1]]
[1] "Moradabad"

$<NA>
NULL

$Course
[1] "Masters of computer applications"

In [11]:
# Creating two lists.  
Even_list <- list(2,4,6,8,10)  
Odd_list <- list(1,3,5,7,9)  
  
# Merging the two lists.  
merged.list <- list(Even_list,Odd_list)  
  
# Printing the merged list.  
print(merged.list)  
print(result)

[[1]]
[[1]][[1]]
[1] 2

[[1]][[2]]
[1] 4

[[1]][[3]]
[1] 6

[[1]][[4]]
[1] 8

[[1]][[5]]
[1] 10


[[2]]
[[2]][[1]]
[1] 1

[[2]][[2]]
[1] 3

[[2]][[3]]
[1] 5

[[2]][[4]]
[1] 7

[[2]][[5]]
[1] 9


 [1] 15 17 19 21 23 25 27 29 31 33 25

In [14]:
# Creating lists.  
list1 <- list(10:13)  
print(list1)  
  
list2 <-list(5:8)  
print(list2)  
  
# Converting the lists to vectors.  
v1 <- unlist(list1)  
v2 <- unlist(list2)  
  
print(v1)  
print(v2)  
  
# adding the vectors  
result <- v2+v1 
print(result)

[[1]]
[1] 10 11 12 13

[[1]]
[1] 5 6 7 8

[1] 10 11 12 13
[1] 5 6 7 8
[1] 15 17 19 21