In [4]:
# vector

In [1]:
a<-4:-10  
a

 [1]   4   3   2   1   0  -1  -2  -3  -4  -5  -6  -7  -8  -9 -10

In [2]:
seq_vec<-seq(1,4,by=0.5)  
seq_vec  
class(seq_vec)

[1] 1.0 1.5 2.0 2.5 3.0 3.5 4.0

[1] "numeric"

In [5]:
# atomic vector

In [6]:
d<-45.5  
num_vec<-c(10.1, 10.2, 33.2)  
d  
num_vec  
class(d)  
class(num_vec)

[1] 45.5

[1] 10.1 10.2 33.2

[1] "numeric"

[1] "numeric"

In [7]:
d<-as.integer(5)  
e<-5L  
int_vec<-c(1,2,3,4,5)  
int_vec<-as.integer(int_vec)  
int_vec1<-c(1L,2L,3L,4L,5L)  
class(d)  
class(e)  
class(int_vec)  
class(int_vec1)

[1] "integer"

[1] "integer"

[1] "integer"

[1] "integer"

In [8]:
d<-'shubham'  
e<-"Arpita"  
f<-65  
f<-as.character(f)  
d  
e  
f  
char_vec<-c(1,2,3,4,5)  
char_vec<-as.character(char_vec)  
char_vec1<-c("shubham","arpita","nishka","vaishali")  
char_vec  
class(d)  
class(e)  
class(f)  
class(char_vec)  
class(char_vec1)

[1] "shubham"

[1] "Arpita"

[1] "65"

[1] "1" "2" "3" "4" "5"

[1] "character"

[1] "character"

[1] "character"

[1] "character"

[1] "character"

In [9]:
d<-as.integer(5)  
e<-as.integer(6)  
f<-as.integer(7)  
g<-d>e  
h<-e<f  
g  
h  
log_vec<-c(d<e, d<f, e<d,e<f,f<d,f<e)  
log_vec  
class(g)  
class(h)  
class(log_vec)

[1] FALSE

[1] TRUE

[1]  TRUE  TRUE FALSE  TRUE FALSE FALSE

[1] "logical"

[1] "logical"

[1] "logical"

In [10]:
# Accessing elements of vector

In [11]:
seq_vec<-seq(1,4,length.out=6)  
seq_vec  
seq_vec[2]

[1] 1.0 1.6 2.2 2.8 3.4 4.0

[1] 1.6

In [12]:
char_vec<-c("shubham"=22,"arpita"=23,"vaishali"=25)  
char_vec  
char_vec["arpita"]

 shubham   arpita vaishali
      22       23       25

arpita
    23

In [13]:
a<-c(1,2,3,4,5,6)  
a[c(TRUE,FALSE,TRUE,TRUE,FALSE,TRUE)]

[1] 1 3 4 6

In [14]:
# Vector operation

In [19]:
p<-c(1,2,4,5,7,8)  
q<-c("shubham","arpita","nishka","gunjan","vaishali","sumit")  
r<-c(p,q)
r

 [1] "1"        "2"        "4"        "5"        "7"        "8"
 [7] "shubham"  "arpita"   "nishka"   "gunjan"   "vaishali" "sumit"

In [17]:
a<-c(1,3,5,7)  
b<-c(2,4,6,8)  
a+b  
a-b  
a/b  
a%%b

[1]  3  7 11 15

[1] -1 -1 -1 -1

[1] 0.5000000 0.7500000 0.8333333 0.8750000

[1] 1 3 5 7

In [20]:
a<-c("Shubham","Arpita","Nishka","Vaishali","Sumit","Gunjan")  
b<-c(TRUE,FALSE,TRUE,TRUE,FALSE,FALSE)  
a[b]

[1] "Shubham"  "Nishka"   "Vaishali"

In [21]:
q<-c("shubham","arpita","nishka","gunjan","vaishali","sumit")  
q[2]  
q[-3]  
q[15]

[1] "arpita"

[1] "shubham"  "arpita"   "gunjan"   "vaishali" "sumit"

[1] NA

In [22]:
q<-c("shubham","arpita","nishka","gunjan","vaishali","sumit")  
q[c(2,4,4,3)]

[1] "arpita" "gunjan" "gunjan" "nishka"

In [24]:
q<-c("shubham","arpita","nishka","gunjan","vaishali","sumit")  
b<-q[2:5]  
b

[1] "arpita"   "nishka"   "gunjan"   "vaishali"

In [26]:
q<-c("shubham","arpita","nishka","gunjan","vaishali","sumit")
q[c(2,1,3,4,5,6)]

[1] "arpita"   "shubham"  "nishka"   "gunjan"   "vaishali" "sumit"

In [30]:
z=c("TensorFlow","PyTorch")  
z  
names(z)=c("Start","End")  
z

[1] "TensorFlow" "PyTorch"

       Start          End
"TensorFlow"    "PyTorch"